body{
    padding: 0px;
    font-family: 'Baloo Bhai', cursive;
    overflow-x: hidden;
}
.principal{
    padding-top: 8em;
}
.bg-principal{
    background-size: 100% 100%;
    background-image: url(../img/fotodelisafotios.jpg);
    background-repeat:no-repeat;
    background-position: top;
    width:100%;
    height: 40.8em;
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
.gapbgred{
    background-color: #bd262E;
}
.gapbg{
    background-color: #161925;
}
.borda_footer{
    width:120px;
    height:20px;
    background-color:#bd262E;
}
.nav-link:hover{
    border-bottom: solid 2px #bd262E;
}
@media (max-width: 970px) {
    #terceira {
        display:none ;
    }
}
#j_sucesso{
    display: none;
}
#j_enviando{
    display: none;
}
#j_error{
    display:none;
}
#janela, #janela-2, #janela-3, #janela-4, #janela-5 {
    display:none;
}
.efeito, .efeito-2, .efeito-3, .efeito-4, .efeito-5 {
    cursor: pointer;
}