.bg-principal{
    background-size: 100% 100%;
    background-image: url(../img/fundo1.jpg);
    background-repeat:no-repeat;
    background-position: top;
    width:100%;
    height: 40.8em;
}
@media (max-width: 970px){
    .principal{
        padding-top:300px;
    }
}