body{
    padding: 0px;
    font-family: 'Abel', sans-serif;
    overflow-x: hidden;
}
.principal{
    padding-top: 8rem;
}
.js-img{
    max-width: 40%;
}
.bg-principal{
    background-size: 100% 40.8em;
    background-image: url(../Gapconnect-principal.jpg);
    background-repeat:no-repeat;
    background-position: top;
    height: 40.8rem;;
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
.gaproda{
    color: #bd262E;
}/*oque esta funcionando pela metade
.gapborder:hover{
    transform:rotate(90deg);
    transition:all 2s;
}*/
.bg-frase{
    background-image: url(../img/gap-solucao-finceira.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
.gapcortext{
    color: #bd262E;
}
.gaptext-cinza{
    color:#343A40;
}
.gapborder{
    border:solid 2px #bd262e;
}
.gapopacity{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.gapbgred{
    background-color: #bd262E;
}
.gapbg{
    background-color: #161925;
}
.borda_footer{
    width:120px;
    height:20px;
    background-color:#bd262E;
}
.nav-link:hover{
    border-bottom: solid 4px #bd262E;
    transform: translate3d(-10px, 0,0);
    transition: .3s;
}
@media (max-width: 970px) {
    #terceira {
        display:none ;
    }
    .img{
        max-width: 50% !important;
    }
}
#j_sucesso{
    display: none;
}
#j_enviando{
    display: none;
}
#j_error{
    display:none;
}
#janela, #janela-2, #janela-3, #janela-4, #janela-5 {
    display:none;
}
.efeito, .efeito-2, .efeito-3, .efeito-4, .efeito-5 {
    cursor: pointer;
}
.gaproda:active{
    transform: rotate(90deg);
    transition: all 0.5s ease-out;
}
p.description-service::before{
    content:"✔";
    color:#bd262E;
    font-size:2rem;
}
.lane{
    border: solid 5px #bd262E;
    width:5rem;
}
.imagens-fluid-at{
    height: auto;
}
.imagens-fluid {
    max-width: 50%;
    height: auto;
}
.js-scroll{
    opacity: 0;
    transform: translate3d(-30px, 0,0);
    transition: .3s;
}
.js-scroll.ativo{
    opacity:1;
    transform: translate3d(0,0,0);
}
[data-numeros]#porcento::after{
    content: '%';
}